<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="jumbotron" style="background-color:#CCFF99;">
  <div class="container">
  <div class="row">
  	<div class="col-lg-9">
  		<h1 style="color:#339966;"><Strong>Almacenamiento y procesamiento masivo de datos de Twitter</Strong></h1>
  	</div>
  	<div class="col-lg-3">
  		<br/>
  		<br/>
  		<img src="images/twitter.png" alt="twitter" style="max-width:150px; max-height: 200px;"/>
  	</div>
  </div>
  </div>
</div>

<%= yield %>

</body>
</html>

